<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="public-nuget" value="https://apiint.nugettest.org/v3/index.json" />
    <add key="private" value="../CorporateNuGetSource" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="public-nuget">
      <package pattern="Newtonsoft.Json" />
    </packageSource>
    <packageSource key="private">
      <package pattern="Corporate.Private.*"/>
    </packageSource>
  </packageSourceMapping>
</configuration>