<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="public-nuget" value="https://apiint.nugettest.org/v3/index.json" />
    <add key="private" value="../CorporateNuGetSource" />
  </packageSources>
  <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
  <trustedSigners>
    <clear />
    <repository name="public-nuget" serviceIndex="https://apiint.nugettest.org/v3/index.json">
      <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 10/04/2018 -->
      <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 16/02/2021 -->
      <certificate fingerprint="5A2901D6ADA3D18260B9C6DFE2133C95D74B9EEF6AE0E5DC334C8454D1477DF4" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <owners>jamesnk</owners>
    </repository>
    <author name="James Newton-King">
      <certificate fingerprint="A3AF7AF11EBB8EF729D2D91548509717E7E0FF55A129ABC3AEAA8A6940267641" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      <!-- jamesnk = James Newton-King, author of Newtonsoft.Json-->
      <owners>jamesnk</owners>
    </author>
  </trustedSigners>
    
</configuration>